body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

hr {
    border: 2px solid black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

textarea {
    border: 1px solid black;
    border-radius: 4px;
}

textarea:focus {
    outline: 1px red solid;
    border: 1px red solid;
    border-radius: 4px;
}

$input-border-focus: red;


.container {
    width: 77vw;
    margin: auto;
}

.input-field {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    label {
        margin: 10px 0;
    }
}

.story-form-submit {
    border: 1px solid black;
    background: white;
    border-radius: 24px;
    padding: 8px;
    cursor: pointer;
}
.story-form-submit:hover {
    color: white;
    background-color: black;
}